---
import Layout from "../../layouts/Layout.astro";
import PostDescription from "../../components/PostDescription.astro";

const API_URL = import.meta.env.API_URL;

const { tag } = Astro.params;

const tagByName = await fetch (`${API_URL}/api/v2/tags/?name=${tag}`).then(response => response.json());
const tagID = tagByName.items[0].id;

const posts = await fetch (`${API_URL}/api/v2/posts/?tags=${tagID}&fields=intro`).then(response => response.json());
---
<Layout pageTitle={tag}>
    <h2 class="text-2xl mb-5">
        Posts tagged with:
        <span class="font-bold text-[#D81159] hover:border-b-4 hover:border-[#FF80CC] hover:border-dashed">
            { `#${tag}` }
        </span>
    </h2>

    {
        posts.meta.total_count == 0 ? 
        <h2 class="text-xl"></h2>
        :
        <Fragment />
    }

    {
        posts.items?.map((post) => 
            <PostDescription
                postURL={`/posts/${post.meta.slug}`}
                postTitle={post.title}
                postDate={post.meta.first_published_at}
                postDescription={post.intro}
            />
        )
    }
  </Layout>