---
import Layout from '../layouts/Layout.astro';
import Social from '../components/Social.astro';
import Separator from '../components/Separator.astro';
import PostDescription from '../components/PostDescription.astro';

const API_URL = import.meta.env.API_URL;

const featured_posts = await fetch (`${API_URL}/api/v2/posts/?featured=true&fields=intro`).then(response => response.json());

const latest_posts = await fetch (`${API_URL}/api/v2/posts/?fields=intro`).then(response => response.json());

const pageTitle = 'Blog'
---

<Layout pageTitle={pageTitle}>
	<main>
		<div class="flex justify-center items-center md:justify-start md:flex-row flex-col md:space-x-5">
			<img class="w-64 lg:me-5" src="/User.jpg" alt="Anime user photo">
			<div>
				<h1 class="text-3xl font-bold block mb-3">Well, well, well... What a pleasant surprise to see you here.</h1>
				
				<p class="mb-3">I'm Tiago Alvarez Schiaffino! When I'm not coding or diving into tech, I'm gaming, reading books, or getting active with some sport.</p>
				<p class="mb-3">Started coding at 17, and has been proudly self-taught for 2 years.</p>
				<p class="mb-3">Expect unique content and lively discussions here. Reach out, let's geek out together. Have a fantastic day!</p>

				<div>
					<a href="https://portfolio-tiagoalvarezschiaffino.netlify.app/" target="_blank">
						<i class='text-white text-lg lg:text-2xl me-2 hover:text-[#D81159] hover:animate-pulse'></i>
					</a>
					<Social platform="github" username="tiagoalvarezschiaffino"/>
					<Social platform="linkedin" username="tiago-alvarez-schiaffino"/>
					<Social platform="linktree" username="t.alvarezschiaffino"/>
				</div>
			</div>
		</div>

		<Separator />

		<div class="flex flex-col">
			<h1 class="font-bold text-2xl block mb-5">Featured</h1>

			<div>
				{
                    
                    featured_posts.results?.map((post) => (
						<PostDescription
							postURL={`/posts/${post.meta.slug}`}
							postTitle={post.title}
							postDate={post.meta.first_published_at}
							postDescription={post.intro}
						/>
                    ))
                    
                }
			</div>
		</div>

		<Separator />

		<div class="flex flex-col">
			<h1 class="font-bold text-2xl block mb-5">Latest posts</h1>

			<div>

				{
                    
                    latest_posts.results?.map((post) => (
						<PostDescription
							postURL={`/posts/${post.meta.slug}`}
							postTitle={post.title}
							postDate={post.meta.first_published_at}
							postDescription={post.intro}
						/>
                    ))
                    
                }
			</div>

			<div class="flex justify-center text-bold">
				<a href="/posts/" class="text-white hover:text-[#FF80CC]">
				All the posts
				<i></i>
				</a>
			</div>
		</div>
	</main>
</Layout>